// Custom.scss
// Custom colors
// https://coolors.co/8e3b46-e1dd8f-e0777d-4c86a8-477890

$cordovan: #8e3b46ff;
$cordovan-subtle:#DDACB3;
$flax: #e1dd8fff;
$coral: #e0777dff;
$ablue: #4c86a8ff;
$cerulean: #477890ff;

$primary: $coral;
$secondary:$flax;
$danger: $cordovan;
$success: $cerulean;
$info: $ablue;

// Additional font sizes

$font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.5rem,
  9: 12px,
  10: 18px
);

// Additional gaps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6.5
);


// Accordion f*ckery
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
.accordion{
  box-sizing: border-box;
  object-fit: contain;
}

// import bootstrap to apply changes
@import "../node_modules/bootstrap/scss/bootstrap";

// My styling
@font-face {
    font-family: Meslo;
    src: url("../assets/fonts/MesloLGSNerdFontMono-Regular.ttf");
}

body{
    background-color: #e4e4e4;
}
.my-font{
  font-family: Meslo;
}

.latest-window{
  max-height: fit-content;
  background-color: white;
  border-radius: 5px;
}

.arrow-down{
  width: 20px;
  height: 20px;
}

.scroll-link{
  text-decoration: none;
}




