@import "colors-light";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
body, html{
    padding: 0;
}

.container{
    width: 81.25vw;
    margin: 0 auto;
}

.header{
    @include flex(start, center);
    border-bottom: 1px solid $border;
}
.logo{
    @include flex(start, center);
    gap: 13px;

    &__title{
        font-family: Quicksand;
        font-size: 35px;
        font-weight: 500;
    }
}

.main{
    padding-top: 100px;
}

.content{
    padding-bottom: 87px;

    @include flex(start, space-between, column);
    font-family: Roboto;

    &-header{
        height: 81px;
        @include flex(start, space-between, column);

        &__pale{
            color: $text-color-pale;
            font-size: 16px;
            font-weight: 400;
        };
        &__big{
            font-family: Nunito Sans;
            font-size: 40px;
            font-weight: 600;
        };
    }
    &-cards{
        margin-top: 40px;
        @include flex(space-between, start, row);
        gap: 30px;

        &__item{
            cursor: pointer;

            min-width: 26vw;
            min-height: 36vh;

            padding: 40px;
            margin-bottom: 1.8vh;
            
            border: 1px solid $border;
            border-radius: 8px;

            @include flex(start, space-between, column);
            gap: 30px;
            
            transition: all 0.23s ease-in-out;

            &__icon{
                svg{
                    height: 40px;
                    width: 40px;
                }

                width: 64px;
                height: 64px;
                
                @include flex(center, center);
                
                border: 1px solid $border;
                border-radius: 16px;
            }
        
            &__call2a{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 600;
                color: $accent-green;
                text-decoration: none;

                transition: 0.22s;
            }
            &__call2a:hover{
                color: $accent-green-dark;
            }
        }
        &__item:hover{
            transform: scale(1.06);

            border: 1.3px solid $accent-green;

            box-sizing: border-box;

            margin-bottom: 0px;
        }
    }
}

.footer{
    background-color: $bg-footer;

    padding-bottom: 40px;

    .logo{
        color: white;
    }

    .container{
        @include flex(start, space-between, column);
        gap: 16px;
    }

    &-socials{
        @include flex;

        gap: 10px;
        
        &__icon{
            @include flex(center, center);

            svg{
                height: 23px;
                width: 23px;
            }

            width: 38px;
            height: 38px;

            background-color: $bg-body;

            border: none;
            border-radius: 5px;
        }
        &__icon:hover{
            cursor: pointer;
            svg{
                fill: $accent-green;
                transition: 0.22s ease;
            }
        }
    }
}
