$body-color: #161926;

$nav-color: rgba(22, 25, 38, 0.4);

$btn-inert: #53F3CD;
$btn-inert__after: rgba(83, 243, 205, 0.3);
$btn-active: #02E0AB;
$btn-active__after: rgba(2, 224, 171, 0.3);

$menu-after: linear-gradient(90deg, rgba(83, 243, 205, 1), rgba(83, 243, 205, 0));

$pale: #515773;

$usd-color: white;

$text: white;
$text-light: rgba(255, 255, 255, 0.5);
$header-accent: #689FF2;

$dropdown-backdrop: rgba(22, 25, 38, 0.9);
$dropdown-pale: rgba(81, 87, 115, 0.9);

$section-backdrop: rgba(22, 25, 38, 0.9);