$body-color: #FBFBFC;

$btn-inert: #F1897B;
$btn-inert__after: rgba(241, 137, 123, 0.3);
$btn-active: #E54F3A;
$btn-active__after: rgba(229, 79, 58, 0.3);

$menu-after: #F1897B;

$pale: #E4E4E4;

$usd-color: #E4E4E4;

$text: #262A3F;
$header-accent: #85BBB1;

$dropdown-backdrop: white;
