@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-image: linear-gradient(123deg, #d9d9d9 35.71%, #fff 35.71%, #fff 50%, #d9d9d9 50%, #d9d9d9 85.71%, #fff 85.71%, #fff 100%);
    background-size: 166.93px 257.05px;
}

h1{
    font-family: Jaro;
    font-size: 60px;
    color: #F05365;
    text-shadow: 2px 2px 7px #A7A7A7;
}

h2{
    font-family: Jaro;
    font-size: 30px;
    color: #F05365;
    text-shadow: 2px 2px 5px #A7A7A7;
}

p{
    font-family: Josefin Slab;
    font-size: 25px;
    font-style: italic;
    color: #925E78;
    text-shadow: 2px 2px 3px #A7A7A7;
}
header{
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
}
#content{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li{
    font-family: Josefin Slab;
    font-size: 20px;
    font-weight: bold;
    color: #925E78;
    text-shadow: 2px 2px 3px #A7A7A7;
    margin-top: 5px;
}

a:link, a:visited{
    font-family: Josefin Slab;
    font-size: 20px;
    font-weight: bold;
    color: #925E78;
    text-shadow: 2px 2px 3px #A7A7A7;
    text-decoration: none;
}
a:active{
    font-family: Josefin Slab;
    font-size: 20px;
    font-weight: bold;
    color: #F05365;
    text-shadow: 2px 2px 3px #A7A7A7;
    text-decoration: none;
}
