@import "mixins";
@import "colors-light";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body, html{
    background-color: $bg-color;
}

.container{
    @include flex(center, center, row, 30px);

    width: 81.25vw;
    height: 84.3vh;

    margin: 40px auto;

    .form{
        // min-width: 300px;
        // max-width: 570px;
        min-width: 570px;
        min-height: 590px;

        background-color: $form-color;

        font-family: Roboto;

        padding: 35px;
        
        a{
            text-decoration: none;
            color: $accent-color;
        }
        a:hover{
            color: $accent-active;
        }

        input{
            width: 100%;
            height: 38px;
            
            border: 1px solid $border;
            border-radius: 6px;
        
            font-size: 20px;
            font-family: Roboto;
        }

        select{
            width: 100%;
            height: 38px;
            
            background-color: $form-color;

            border: 1px solid $border;
            border-radius: 6px;
        
            font-size: 18px;
            font-family: Roboto;
        }
        select:invalid{
            color: red;
        }

        &__header{
            font-size: 24px;
            font-weight: 500;
            color: $header-color;

            margin-bottom: 20px;
        }

        form{
            @include flex(center, center, column, 20px);
            
            .row{
                width: 100%;

                @include flex(space-between, start, row, 12px);

                font-size: 15px;
                font-weight: 400;
                color: $text-color;
                
                &-half{
                    @include flex(start, start, column, 12px);
                    
                    width: 50%; 
                }
                &-full{
                    width: 100%;
                    @include flex(start, start, column, 12px)

                }
                &-radio{
                    @include flex(start, center, row, 70px);
                    width: 100%;
                    
                    input[type=radio]{
                        opacity: 0; 
                        position: absolute;
                    }
                    input[type="radio"]:checked ~ span::after {
                        opacity: 1;
                    }

                    .custom-radio{
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        
                        border: 1px solid $border;
                        border-radius: 50%;
                        
                        @include flex(start, center, row, 30px);

                        &__label{
                            margin-left: 30px;
                        }
                    }
                }

                &-pfp{
                    @include flex(start, start, row, 10px);

                    input{
                        width: 35%;
                    }

                    .delete{
                        height: 38px;
                        width: 38px;
                        
                       &__icon{
                        width: 23px;
                        height: 23px;
                       }
                    }

                    &__upload{
                        @include flex(start, start, column, 10px);

                        &__controls{
                            @include flex(start, start, row, 10px);
                        }
                        
                        &__comment{
                            color: $pale-text;
                        }
                    }
                }

                .form-comment{
                    font-size: 13px;
                    font-weight: 400;
                    color: $pale-text;
                }

                .sign-up{
                    width: 100%;
                    height: 38px;
                    
                    border: none;
                    border-radius: 6px;
                    
                    background-color: $accent-color;
                    color: $form-color;

                    font-size: 15px;
                    font-weight: 500;
                }

                .update{
                    width: 150px;
                    height: 38px;
                    
                    border: none;
                    border-radius: 6px;
                    
                    background-color: $accent-color;
                    color: $form-color;

                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 81px;
                }

                .conditions{
                    text-align: center;
                    font-size: 13px;
                    font-weight: 400px;

                    margin: 0 auto;
                }

            }
            .preview{
                width: 80px;
                height: 80px;
                border-radius: 50px;
                margin-right: 10px;
            }
        }

        &-footer{
            width: 100%;
            
            margin-bottom: -19px;
            padding-top: 20px;

            @include flex(center, center, row, 20px);

            border-top: 1px solid $border;

            span{
                font-weight: 400;
                color: $text-color;
            }
        }
    }
}